.menu-app{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: .3s;
    z-index: 1000;
    @extend .border-right;
    .search-slide.show{
        transform: translateX(0);
    }
    ul{
        position: absolute;
        top: 0;
        left: 0;
        background: #f8fafc;
        height: 100%;
        padding: 0 10px;
        z-index: 2;
        .icon-logo{
            display: none;
            padding: 26.5px 8px;
        }
        .text-logo{
            h1{
                padding: 20px 10px;
            }
        }
    }
    li{
        @extend .prevent-select;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 5px 0;
        padding: 5px 10px 5px 5px;
        border-radius: 12px;
        font-size: 18px;
        white-space: nowrap;
        .active{
            font-weight: bold;
            @extend .bg-dark-20;
        }
        &:hover{
            @extend .hover-dark-20;
        }

        .icon{
            text-align: center;
            width: 40px;
            font-size: 26px;
            line-height: 26px;
        }
        .item-text{
            line-height: 26px;
        }
    }

}

@media (min-width: 1920px) {
    .menu-app{
        width: $nav-app-wide-width;
    }
}
@media (min-width: 1264px) and (max-width: 1919px) {
    .menu-app{
        width: $nav-app-medium-width;
    }
}
@media (min-width: 768px) and (max-width: 1263px){
    .menu-app{
        transition: .3s;
        width: $nav-app-small-width;
        ul{
            li{
                padding: 5px 0;
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .icon-logo{
                display: block;
            }
            .text-logo,.item-text{
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .menu-app{
        top: unset;
        bottom: 0;
        height: 66px;
        width: 100%;
        z-index: 100;
        background: white;
        .search-slide.show{
            transform: translateY(0);
        }
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 100%;
            margin: 0;
            .icon-logo{
                display: none;
            }
            .text-logo{
                display: none;
            }
            .item-text{
                display: none;
            }
            li{
                line-height: 16px;
                .icon{
                    width: auto;
                }
                img{
                    margin-right: 0 !important;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .menu-app.small{
        transition: .3s;

        width: $nav-app-small-width;
        ul{
            li{
                padding: 5px 0;
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .icon-logo{
                display: block;
            }
            .text-logo,.item-text{
                display: none;
            }
        }
    }
}
