.info-user{
    position: absolute;
    display: none;
    top: 40px;
    background: #fff;
    width: 400px;
    min-height: 200px;
    border-radius: 12px;
    z-index: 1;
    .box-info .header{
        display: flex;
        padding: 15px;
    }
    .box-info .header .name{
        display: flex;
        flex-direction: column;
    }
    .box-info .posts{
        display: flex;
    }
    .box-info .posts div{
        padding: 0;
    }
    .box-info .posts div:first-of-type{
        padding-right: 5px;
    }
    .box-info .posts div:last-of-type{
        padding-left: 5px;
    }
}

.user{
    position: relative;
}
.user .info:hover .info-user{
    display: block;
}
